name: Release

on:
  workflow_run:
    workflows: ["Test"]
    branches: [main]
    types: [completed]

jobs:
  release:
    permissions:
      contents: write # to create release (changesets/action)
      issues: write # to post issue comments (changesets/action)
      pull-requests: write # to create pull request (changesets/action)
      id-token: write # to use OpenID Connect token for provenance (changesets/action)

    if: ${{ github.event.workflow_run.conclusion == 'success' && github.repository_owner == 'cloudflare' }}
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      # Ensure npm 11.5.1 or later is installed, to use trusted publishing.
      # See: https://docs.npmjs.com/trusted-publishers
      - name: Update npm
        run: npm install -g npm@latest

      - run: npm ci
      - run: npm run build

      - id: changesets
        uses: changesets/action@v1
        with:
          # The standard step is only to run `changeset version` but this does not update the
          # package-lock.json file. So we also run `npm install`, which does this update.
          # This is a workaround until this is handled automatically by `changeset version`.
          # See https://github.com/changesets/changesets/issues/421.
          version: npx changeset version && npm install
          publish: npx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  prerelease:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.repository_owner == 'cloudflare' }}
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      # Ensure npm 11.5.1 or later is installed, to use trusted publishing.
      # See: https://docs.npmjs.com/trusted-publishers
      - name: Update npm
        run: npm install -g npm@latest

      - run: npm ci

      - name: Modify package.json version
        run: npx tsx .github/version-script.ts

      - run: npm run build

      - run: npm publish --tag beta
